#######################
# Maven
#######################
target/

#######################
# VS Code
#######################
.vscode/

#######################
# IntelliJ
#######################
.idea/
*.iml

#######################
# Eclipse
#######################
.project
.classpath
.settings/

#######################
# Java
#######################
*.class

#######################
# Logs
#######################
*.log

#######################
# H2
#######################
*.mv.db
*.trace.db

#######################
# OS
#######################
.DS_Store
Thumbs.db

#######################
# Temp
#######################
*.tmp
*.bak